<!DOCTYPE html>
<html>
<head>
  <title>Account Creation</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/create_account.css">
</head>
<body>
  <div class="form-container">
    <h2>Create Account</h2>
    <form action="/add_account" method="POST">
      <input id="username" name="username" type="text" placeholder="Username" required>
      <p>This username will be visible to other Pacific users.</p>
      <input id="password" name="password" type="password" placeholder="Password" required>
      <button type="submit">Create Account Now</button>
    </form>

  </div>
</body>
</html>
