<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="icon" type="image/x-icon" href="/images/icon_transparent.png">
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<!--   https://goombalogin.posydon.repl.co/logo.png -->
  <a href="https://goombagames.onrender.com">
    <img src="/images/logo_transparent.png" alt="Goomba logo">
  </a>
	
	<h1>Welcome Back!</h1>
	<form action="/login" method="POST">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" required>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required>
		<input type="submit" value="Login">
	</form>
	<div style="text-align:center">
			<a href="/create_account" style="display:inline-block; color: white">Create Account</a>
	</div>

</body>
</html>