<!DOCTYPE html>
<html>
<head>
	<title>Admin Panel</title>
  <link rel="icon" type="image/x-icon" href="/images/icon_transparent.png">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/encryption.css">
</head>
<body>
	<div class="sidebar">
    <h2 class="logo">
      <img src="/images/icon_transparent.png" alt="Logo">
    </h2>
		<ul>
			<li><a href="/help" target="_blank" class="active">Help</a></li>
			<li><a href="/about" target="_blank" >About</a></li>
			<li><a href="/account" target="_blank" >Account</a></li>
      <br>
      <li><a href="/logout">Logout</a></li>
		</ul>
	</div>
	<div class="main-panel">
		<h2>Welcome, <%= username %></h2>
      <div class="tab-container">
        <div class="tab">
          <button class="tablinks" id = "installations" onclick="openTab(event, 'tab1')">Main</button>
        </div>
        <div class="tab">
          <button class="tablinks" id = "ipinfo" onclick="openTab(event, 'tab2')">Keys</button>
        </div>
      </div>
      
      <div id="tab1" class="tabcontent">
        <h3>Main</h3>
        <form id="encryption-form">

          <label for="data-input">Enter data to encrypt:</label>
          <input type="text" id="data-input">
          <br>
          <label for="public_key_input">Enter Public Key (tuple form):</label>
          <input type="text" id="public_key_input">
          <br>
          <button type="submit">Encrypt data</button>
        </form>
      </div>
      
      <div id="tab2" class="tabcontent">
        <h3>IP Address Info</h3>
        <form id="ip-form">
          <label for="ip-address">Enter an IP address:</label>
          <input type="text" id="ip-address" name="ip-address">
          <input type="submit" value="Submit">
        </form>
        <div id="ip-info"></div>
      </div>
      
      <div id="tab3" class="tabcontent">
        <h3>Server Logs</h3>
        <div id="log-content"></div>
      </div>
      
	<script src="/js/script.js"></script>
  <script src="/js/encryption.js"></script>
</body>
</html>
