#tab1 {
  display: none;
  padding: 20px;
  background-color: #fff;
  height: calc(100vh - 50px);
}

#tab1 label, #tab1 label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

#tab1 select, #tab1 select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#tab1 input[type="text"], #tab1 input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#tab1 button[type="submit"], #tab1 button[type="submit"] {
  background-color: #546954;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#tab1 button[type="submit"]:hover, #tab1 button[type="submit"]:hover {
  background-color: #3f503f;
}